// font-face
@font-face {
    font-family: "AvenirNextLTPro";
    src: url(/assets/Font/AvenirNextLTPro-Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: "AvenirNextLTPro";
    src: url(/assets/Font/AvenirNextLTPro-Demi.otf);
    font-weight: 600;
}

@font-face {
    font-family: "AvenirNextLTPro";
    src: url(/assets/Font/AvenirNextLTPro-Bold.otf);
    font-weight: bold;
}


// mobile font size 
@mixin page-header{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    @content;
}

@mixin section-header{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    @content;
}

@mixin subheader{
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    @content;
}

@mixin body-copy{
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    @content;
}

@mixin footer-copy{
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    @content;
}

@mixin labels-buttons{
    font-size: 10px;
    line-height: 20px;
    font-weight: 700;
    @content;
}