@use 'variables' as *;

// breakpoints for tablet & desktop
@mixin tablet{
    @media screen and (min-width: $tablet-break-point){
        @content;
    }
}

@mixin desktop{
    @media screen and (mixin-width: $desktop-break-point){
        @content;
    }
}

// padding & margins
@mixin padding-left-right{
    padding-left: 28px;
    padding-right: 28px;
    @content;
}

@mixin tablet-padding-left-right{
    padding-left: 36px;
    padding-right: 36px;
    @content;
}

@mixin desktop-padding-left-right{
    padding-left: 160px;
    padding-right: 160px;
    @content;
}

// a bundle padding for the musician part in tablet screen
// @mixin tablet-musicians{
//     padding-left: 48px;
//     padding-right: 48px;
// }


@mixin link {
    color: $White;
    text-decoration: none;

    &:visited {
        color: $White;
    }
}

@mixin remove-underline{
    text-decoration: none;
    @content;
}

@mixin images{
    max-width: 100%; 
    height: auto;   
    display: block; 
    @content;
}