@use 'variables' as *;

// breakpoints for tablet & desktop
@mixin tablet{
    @media screen and (min-width: $tablet-break-point){
        @content;
    }
}

@mixin desktop{
    @media screen and (mixin-width: $desktop-break-point){
        @content;
    }
}

// padding & margins
@mixin padding{
    padding-left: 16px;
    padding-right: 16px;
    @content;
}

@mixin padding-top{
    padding-top: 16px;
    @content;
}
@mixin padding-bottom{
    padding-bottom: 16px;
    @content;
}

@mixin padding-top-title{
    padding-top: 24px;
    @content;
}

@mixin padding-bottom-title{
    padding-bottom: 24px;
    @content;
}


@mixin link {
    color: $White;
    text-decoration: none;

    &:visited {
        color: $White;
    }
}

@mixin remove-underline{
    text-decoration: none;
    @content;
}

@mixin images{
    max-width: 100%; 
    height: auto;   
    display: block; 
    @content;
}