@use 'variables' as *;

// breakpoints for tablet & desktop
@mixin tablet {
    @media screen and (min-width: $tablet-break-point) {
        @content;
    }
}

@mixin desktop {
    @media screen and (mixin-width: $desktop-break-point) {
        @content;
    }
}

// padding & margins
@mixin padding-left-right {
    padding-left: 28px;
    padding-right: 28px;
    @content;
}

@mixin tablet-padding-left-right {
    padding-left: 36px;
    padding-right: 36px;
    @content;
}

@mixin desktop-padding-left-right {
    padding-left: 160px;
    padding-right: 160px;
    @content;
}


@mixin link {
    color: $White;
    text-decoration: none;

    // &:visited {
    //     color: $Mercury;
    // }
}

@mixin remove-underline {
    text-decoration: none;
    @content;
}

@mixin images {
    max-width: 100%;
    height: auto;
    display: block;
    @content;
}

@mixin ticket-button {
    margin: auto;
    font-size: 1.8rem;
    color: white;
    padding: 22px 0px;
    width: 100%;
    background-color: $BandSite-Black;
    border-radius: 8px;
    margin: 15px 0px;
    @content;

}

@mixin header-nav-bar{
    position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        color: $White;
        padding-top: 1rem;
        @content;
}

@mixin header-underline{
    position: absolute;
            content: "";
            width: 49vw;
            height: 12px;
            background-color: white;
            bottom: -5px;
            transform: scaleX(1);
            @content;
}

@mixin avatar{
    margin-top: 10px;
    width: 70px;         
    height: 70px;
    background-color: $Mercury;  
    border-radius: 50%;   
    display: inline-block;
    flex-shrink: 0;
    @content;
}