@charset "UTF-8";
@font-face {
  font-family: "AvenirNextLTPro";
  src: url(/assets/Font/AvenirNextLTPro-Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url(/assets/Font/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url(/assets/Font/AvenirNextLTPro-Bold.otf);
  font-weight: bold;
}
html,
body,
h1,
h3 {
  margin: 0;
  padding: 0;
  font-family: "AvenirNextLTPro";
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__logo {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.header__logo:visited {
  color: #FFFFFF;
}
.header__sections {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  color: #FFFFFF;
  padding-top: 24px;
}
.header__image {
  background-image: url("../assets/Images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 440px;
  position: relative;
}
.header__image-title {
  padding-left: 16px;
  padding-right: 16px;
  position: absolute;
  top: 40%;
  color: #FFFFFF;
}

.main__content {
  padding-left: 16px;
  padding-right: 16px;
}
.main__title {
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
}
.main__title--margin {
  padding-bottom: 16px;
}

.quote {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-weight: bold;
}

.section__titles {
  display: inline-block;
  /* 确保文本宽度与内容一致 */
  color: #E1E1E1;
  /* 默认状态下的透明底边框 */
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0 140px;
}
.section__titles:visited {
  color: #FFFFFF;
}

.musicians__image {
  box-sizing: border-box;
  display: block;
  max-width: 100%;
  height: auto;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
}

.musician__text {
  padding-left: 48px;
  padding-right: 48px;
}

.text__subtitle {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}
.text__paragraph {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.gallery__background {
  background-color: #FAFAFA;
}

.photogallery {
  max-width: 100%;
  height: auto;
  display: block;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.footer {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #FFFFFF;
}
.footer__info {
  padding-left: 16px;
  padding-right: 16px;
}
.footer__content {
  margin-bottom: 30px;
}

.footer__background {
  background-color: #323232;
}

.social-media {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

.copyright {
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 768px) {
  .header {
    text-align: left;
    flex-direction: row;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 36px;
    padding-bottom: 36px;
  }
  .header__sections {
    justify-content: flex-start;
    padding: 0 20px;
    align-items: center;
  }
  .header__image-title {
    padding-left: 36px;
    padding-right: 36px;
  }
  .main__content {
    padding-left: 36px;
    padding-right: 36px;
  }
  .main__title {
    padding-top: 48px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .section__titles {
    justify-content: flex-start;
    padding: 0px 20px;
  }
  .musicians__image {
    padding-top: 36px;
    padding-left: 48px;
    padding-right: 48px;
  }
  .text__sections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
  }
}/*# sourceMappingURL=bio.css.map */