@use 'partials/mixins' as *;
@use 'partials/variables' as *;
@use 'partials/font' as *;

html,
body,
h1,
h3 {
    margin: 0;
    padding: 0;
    font-family: "AvenirNextLTPro";
}

.header {
    background-color: $BandSite-Black;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        text-align: left;
        flex-direction: row;
        // @include padding-left;
    }

    &__logo {
        @include link;
        @include page-header;
    }

    &__sections {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        color: $White;
        // why add padding here? is it necessary? check style guide
        @include padding-top-title;

        @include tablet {
            justify-content: flex-start;

            // .section__titles {
            //     @include padding-left;
            // }
        }

    }


    &__image {
        background-image: url("../assets/Images/hero-bio.jpg");
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 440px;
        position: relative;


        &-title {
            @include padding;
            position: absolute;
            top: 40%;
            color: $White;
        }
    }

}

.main {
    &__content {
        @include padding;
    }

    &__title {
        // @include section-header;
        @include padding-top-title;
        @include padding;

        &--margin {
            @include padding-bottom;
        }
    }
}

.quote {
    @include body-copy;
    font-weight: bold;
}

.section__titles {
    display: inline-block; /* 确保文本宽度与内容一致 */
    color: $Mercury;
    border-bottom: 4px solid transparent; /* 默认状态下的透明底边框 */
    @include subheader;
    @include link;
    padding: 0 140px;

    &:hover {
        color: $White;
        font-weight: bold;
        border-bottom-color: $White; /* 悬停时底边框变为白色 */
    }
}

// main 
.musicians__image {
    @include images;
    @include padding-top;
    @include padding-bottom;
}

.subtitle {
    @include subheader;

}

.paragraph {
    @include body-copy;
}

.gallery__background {
    background-color: $Alabaster;
}

.photogallery {
    @include images;
    @include padding-bottom;
    @include padding;
}

.footer {
    @include footer-copy;
    color: $White;

    &__info {
        @include padding;
    }

    &__content{
        margin-bottom: 30px;;
    }
}

.footer__background {
    background-color: $BandSite-Black;
}

.social-media {
    @include padding;
    @include padding-top;
    display: flex;
    justify-content: flex-start;
    gap: 40px;

    // &__logo{

    // }
}

.copyright {
    @include padding;
}