@font-face {
  font-family: "AvenirNextLTPro";
  src: url(/assets/Font/AvenirNextLTPro-Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url(/assets/Font/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url(/assets/Font/AvenirNextLTPro-Bold.otf);
  font-weight: bold;
}
html,
body,
h1,
h3 {
  margin: 0;
  padding: 0;
  font-family: "AvenirNextLTPro";
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5rem;
}
.header__logo {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 2.8125rem;
  line-height: 1.375rem;
  font-weight: 100;
}
.header__logo:visited {
  color: #FFFFFF;
}
.header__nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  color: #FFFFFF;
  padding-top: 1rem;
}
.header__nav-title {
  color: #E1E1E1;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.625rem;
  display: flex;
  justify-content: flex-start;
  font-weight: 100;
  padding-bottom: 2.75rem;
}
.header__nav-title:visited {
  color: #FFFFFF;
}
.header__nav-title:hover {
  font-weight: 600;
}
.header__nav--bio::after {
  position: absolute;
  content: "";
  width: 49vw;
  height: 12px;
  background-color: white;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
}
.header__nav--bio:hover::after {
  transform: scaleX(1);
}
.header__nav--shows::after {
  position: absolute;
  content: "";
  width: 49vw;
  height: 12px;
  background-color: white;
  bottom: -5px;
  right: 0;
  transform: scaleX(0);
}
.header__nav--shows:hover::after {
  transform: scaleX(1);
}
.header__image {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/Images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 23.125rem;
  position: relative;
}
.header__image-title {
  padding-left: 28px;
  padding-right: 28px;
  position: absolute;
  top: 40%;
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: 510;
}

.main__content {
  padding-left: 28px;
  padding-right: 28px;
}
.main__subtitle {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-size: 3rem;
  font-weight: 600;
  padding-top: 3rem;
  padding-bottom: 2.25rem;
}
.main__subtitle--margin {
  padding-bottom: 1rem;
}

.musician__image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 20rem;
}
.musician__image {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 48vh;
}
.musician__quote {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 1.5;
  margin: 0;
  color: #323232;
}
.musician__quote--name {
  padding-top: 0.625rem;
}

.paragraph__subheader {
  font-size: 1.625rem;
  line-height: 1.375rem;
  padding-top: 2rem;
}
.paragraph__text {
  font-size: 1.5625rem;
  line-height: 1.45;
  font-weight: 400;
  padding-top: 0.5rem;
}
.paragraph__text--modified {
  padding-top: 2.1875rem;
}

.gallery__background {
  background-color: #FAFAFA;
  margin-top: 1.875rem;
}

.photogallery {
  max-width: 100%;
  height: auto;
  display: block;
}

.photo {
  width: 100%;
  padding-bottom: 1.625rem;
}

.footer {
  padding-left: 1.75rem;
  color: #FFFFFF;
  font-size: 1.5rem;
}
.footer__subtitle {
  line-height: 2rem;
  font-size: 3rem;
  font-weight: 600;
  padding-top: 3.5rem;
  padding-bottom: 2.25rem;
}

.footer__background {
  background-color: #323232;
}

.apps {
  padding-top: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 3.25rem;
}

.social-media__logo {
  width: 2.8125rem;
  height: 2.8125rem;
}

.contact__title {
  padding-top: 1.25rem;
  font-weight: 600;
}
.contact__title--modified {
  padding-top: 2rem;
}
.contact__detail {
  padding-top: 0.9375rem;
}

.copyright {
  padding-bottom: 3.375rem;
  font-size: 1.375rem;
}

.copyright--tablet {
  display: none;
}

.copyright--mobile {
  display: content;
  padding-top: 3.125rem;
  font-weight: 100;
}

@media (min-width: 768px) {
  .header {
    text-align: left;
    flex-direction: row;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .header__logo {
    font-size: 1.5rem;
  }
  .header__nav {
    justify-content: flex-start;
    padding: 0 1.25rem;
    align-items: center;
  }
  .header__nav-title {
    justify-content: flex-start;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    padding: 0px 0px;
    padding-left: 3.125rem;
    display: inline-block;
  }
  .header__nav--bio {
    position: relative;
    display: inline-block;
  }
  .header__nav--bio::after {
    position: absolute;
    content: "";
    width: 60%;
    height: 4px;
    background-color: white;
    bottom: -25px;
    left: 50px;
    transform: scaleX(0);
  }
  .header__nav--bio:hover::after {
    transform: scaleX(1);
  }
  .header__nav--shows {
    position: relative;
    display: inline-block;
  }
  .header__nav--shows::after {
    position: absolute;
    content: "";
    width: 60%;
    height: 4px;
    background-color: white;
    bottom: -25px;
    left: 45px;
    transform: scaleX(0);
  }
  .header__nav--shows:hover::after {
    transform: scaleX(1);
  }
  .header__image {
    height: 28.125rem;
  }
  .header__image-title {
    padding-left: 36px;
    padding-right: 36px;
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
  .main__content {
    padding-left: 36px;
    padding-right: 36px;
  }
  .main__subtitle {
    padding-left: 0;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
    color: #323232;
  }
  .musician__quote {
    font-size: 1.375rem;
    line-height: 1.3;
    padding-top: 1.75rem;
  }
  .musician__quote--name {
    padding-top: 0.625rem;
    font-weight: 600;
    font-size: 1rem;
  }
  .musician__image-container {
    height: 19.375rem;
  }
  .musician__image {
    padding-left: 3rem;
    padding-right: 3rem;
    height: 50vh;
  }
  .musician__text {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .paragraph__sections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
  .paragraph__text {
    padding-top: 0px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
  .photogallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 1rem;
  }
  .photo {
    width: 30%;
    padding-bottom: 1.375rem;
  }
  .footer {
    padding-left: 36px;
    padding-right: 36px;
  }
  .footer__subtitle {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 2.625rem;
    padding-bottom: 0;
  }
  .social-media {
    display: flex;
    align-items: center;
    gap: 1.875rem;
  }
  .social-media__logo {
    width: 1.5625rem;
    height: 1.5625rem;
  }
  .apps {
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-top: 3.125rem;
  }
  .footer {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  .copyright--tablet {
    display: block;
    margin-left: auto;
    font-weight: 100;
    font-size: 1.5rem;
    padding-top: 2.5rem;
  }
  .contact__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .contact__title--modified {
    padding-top: 1.25rem;
  }
  .copyright {
    padding-left: 0;
    padding-bottom: 3.125rem;
    font-size: 0.875rem;
    padding-top: 1.125rem;
  }
  .copyright--mobile {
    display: none;
  }
}
@media (min-width: 1280px) {
  .header {
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .header__image {
    height: 80vh;
  }
  .header__image-title {
    padding-left: 160px;
    padding-right: 160px;
  }
  .main__content {
    padding-left: 160px;
    padding-right: 160px;
  }
  .musician__image {
    padding-left: 160px;
    padding-right: 160px;
    height: 60vh;
  }
  .musician__text {
    padding-left: 160px;
    padding-right: 160px;
  }
  .musician__quote {
    padding-right: 20%;
  }
  .paragraph__sections {
    gap: 2.5rem;
  }
  .footer {
    padding-left: 160px;
    padding-right: 160px;
  }
  .contact__info {
    justify-content: flex-start;
    gap: 140px;
  }
}/*# sourceMappingURL=bio.css.map */