@font-face {
  font-family: "AvenirNextLTPro";
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: bold;
}
html,
body,
h1,
h3 {
  margin: 0;
  padding: 0;
  font-family: "AvenirNextLTPro";
}

.header__image {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/Images/hero-shows.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 76vh;
  position: relative;
}
.header__image-title {
  top: 25%;
  line-height: 1.5;
}
.header__image-album {
  padding-left: 28px;
  padding-right: 28px;
  top: 12%;
  position: absolute;
  color: #FFFFFF;
  font-size: 1.8rem;
  font-weight: 100;
}
.header__nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  color: #FFFFFF;
  padding-top: 1rem;
}
.header__nav--shows {
  color: #FFFFFF;
}
.header__nav--shows::after {
  position: absolute;
  content: "";
  width: 49vw;
  height: 12px;
  background-color: white;
  bottom: -5px;
  transform: scaleX(1);
  right: 0;
}
.header__nav--bios {
  font-weight: 100;
}
.header__nav--bios:hover::after {
  position: absolute;
  content: "";
  width: 49vw;
  height: 12px;
  background-color: white;
  bottom: -5px;
  transform: scaleX(1);
  left: 0;
}
.header__nav--bios:hover {
  font-weight: 100;
  color: #FFFFFF;
}
.header__nav--bios:active {
  font-weight: 600;
  color: #FFFFFF;
}
.header__nav--bios:active::after {
  transform: scaleX(1);
}

h1 {
  padding-left: 56px;
}

.music {
  position: absolute;
  width: 90%;
  top: 58%;
  padding-left: 28px;
}

.audio-player {
  width: 100%;
}

.shows__heading {
  padding-left: 28px;
  padding-top: 70px;
  padding-bottom: 45px;
  font-size: 48px;
  font-weight: 510;
}

p.shows__title,
p.shows__detail {
  margin: 0;
}

ul {
  padding-left: 0;
}

.shows__subtitle {
  padding-left: 28px;
  padding-right: 28px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-size: 3.5rem;
  font-weight: 600;
  padding-top: 5rem;
  padding-bottom: 2.6rem;
}
.shows__subtitle--margin {
  padding-bottom: 1rem;
}
.shows-block {
  padding-left: 28px;
  padding-right: 28px;
}
.shows-info {
  padding-bottom: 10px;
}
.shows-title--tablet {
  display: none;
}
.shows__title {
  color: #AFAFAF;
  font-size: 1.5rem;
  padding-bottom: 12px;
  font-weight: 600;
}
.shows__title--modified {
  padding-top: 26px;
}
.shows__detail {
  font-size: 1.8rem;
  padding-bottom: 25px;
  padding-top: 8px;
}
.shows__detail--modified {
  font-weight: 600;
}

.ticket-button {
  margin: auto;
  font-size: 1.8rem;
  color: white;
  padding: 22px 0px;
  width: 100%;
  background-color: #323232;
  border-radius: 8px;
  margin: 15px 0px;
}

.divider {
  height: 1px;
  background-color: #E1E1E1;
  margin: 20px 0;
}

h1 {
  padding: 0;
}

@media (min-width: 768px) {
  .header__nav {
    justify-content: flex-start;
    padding: 0 1.25rem;
    align-items: center;
  }
  .header__nav--shows {
    position: relative;
    display: inline-block;
    font-weight: 600;
    color: #FFFFFF;
  }
  .header__nav--shows::after {
    position: absolute;
    content: "";
    width: 60%;
    height: 4px;
    background-color: white;
    bottom: -25px;
    transform: scaleX(1);
    left: 46px;
  }
  .header__nav--bios {
    position: relative;
    display: inline-block;
    font-weight: 100;
  }
  .header__nav--bios:hover::after {
    position: absolute;
    content: "";
    width: 60%;
    height: 4px;
    background-color: white;
    bottom: -25px;
    transform: scaleX(1);
    left: 48px;
  }
  .header__nav--bios:hover {
    font-weight: 100;
    color: #FFFFFF;
  }
  .header__nav--bios:active {
    font-weight: 600;
    color: #FFFFFF;
  }
  .header__nav--bios:active::after {
    transform: scaleX(1);
  }
  .shows-list article .shows__title {
    display: none;
  }
  .shows-block {
    display: flex;
    flex-direction: row;
  }
  .shows-block:hover {
    background-color: #FAFAFA;
  }
  .shows-block:active, .shows-block.active {
    background-color: #E1E1E1;
  }
  .shows-title--tablet:hover {
    background-color: #FFFFFF;
  }
  .shows-title--tablet:active, .shows-title--tablet.active {
    background-color: #FFFFFF;
  }
  .shows-info {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    padding: 0;
  }
  .shows__title, .shows__detail {
    font-size: 1rem;
  }
  .shows__title {
    padding-bottom: 20px;
  }
  .shows__title--modified {
    padding-top: 0px;
  }
  .shows__detail {
    padding-bottom: 10px;
  }
  .ticket-button {
    width: 25%;
    padding: 0px;
    font-size: 1rem;
    padding-inline: 0px;
    margin: 20px 0px;
    height: 2.8rem;
  }
  .divider {
    margin: 8px 15px;
  }
  .footer__title--bottom {
    display: none;
  }
}
@media (min-width: 1280px) {
  .header__nav--shows::after {
    bottom: -38px;
  }
  .header__nav--bios:hover::after {
    bottom: -38px;
  }
  .shows__heading {
    padding-left: 160px;
    padding-bottom: 0;
  }
  .shows-block {
    padding-left: 400px;
  }
  .divider {
    margin-left: 400px;
  }
  .music {
    position: absolute;
    max-width: 30%;
    top: 25%;
    right: 0;
    padding-right: 150px;
  }
  .header__image-album {
    padding-left: 160px;
  }
}/*# sourceMappingURL=shows.css.map */