@use 'partials/mixins' as *;
@use 'partials/variables' as *;
@use 'partials/fonts' as *;

html,
body,
h1,
h3{
    margin: 0;
    padding: 0;
    font-family: "AvenirNextLTPro";
}

.header {
    &__image {
        background: linear-gradient(rgba($BandSite-Black, 0.5), rgba($BandSite-Black, 0.5)),
            url("../assets/Images/hero-shows.jpg");
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 76vh;
        position: relative;

        &-title{
            top:25%;
            line-height: 1.5;
        }

        &-album{
            @include padding-left-right;
            top: 12%;
            position: absolute;
            color: $White;
            font-size: 1.8rem;
            font-weight: 100;
        }
    }

    &__nav{
        @include header-nav-bar;

        &--shows{
            color: $White;

            &::after {
                @include header-underline;
                right: 0;
            }
        }

        &--bios {   
            font-weight: 100;

            &:hover::after {
                @include header-underline;
                left: 0;
            }

            &:hover{
                font-weight: 100;
                color: $White;
            }
        }
    }
}

h1{
    padding-left: 56px;
}


.music{
    position: absolute;
    width:90%;
    // top: 54%;
    top: 58%;
    padding-left: 28px;
}


.audio-player {
    width: 100%;
  }

.shows__heading {
    white-space: pre-line;
    padding-left: 28px;
    padding-top: 70px;
    padding-bottom: 45px;
    font-size: 48px;
    font-weight: 510;
}

p.shows__title,
p.shows__detail{
    margin: 0;
    // padding: 0;
}

ul{
    padding-left: 0;
}
.shows{
    &__subtitle {
        @include padding-left-right;
        @include section-header;
        font-size: 3.5rem;
        font-weight: 600;
        padding-top: 5rem;
        padding-bottom: 2.6rem;

        &--margin {
            padding-bottom: 1rem;
        }
    }

    &-block{
        @include padding-left-right;
    }

    &-info{
        padding-bottom: 10px;
    }

    &__title{
        color: $Silver;
        font-size: 1.5rem;
        padding-bottom: 12px;
        font-weight: 600;
        &--modified{
            padding-top: 26px;
        }
    }

    &__detail{
        font-size: 1.8rem;
        padding-bottom: 25px;
        padding-top: 8px;
        &--modified{
            font-weight: 600;
        }
    }

}

.ticket-button{
    @include ticket-button;
}

.divider{
    height: 1px;                 
    background-color:$Mercury;   
    margin: 20px 0;   
}

h1{
    padding: 0;
}

// .footer__title--bottom{
//     padding-top: 4rem;
//     padding-bottom: 0.6rem;
// }




// tablet version
// tablet version
// tablet version
// tablet version
// tablet version

// @media (min-width: $tablet-break-point) {

// }

// desktop
// desktop
// desktop


// @media (min-width: $desktop-break-point) {
   
// }
